.container{
    width: 100%;
    height: 50px;
    background-color: var(--white);
    border-radius: 5px;
    border: solid 2px var(--border-blue);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.date{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 35px;
}