.container {
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
    border: solid 2px var(--border-blue);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.container:hover{
    background-color: var(--light-green);
}

.description{
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 13px;
}

.title{
    color: var(--dark-blue);
    font-weight: 600;
}