.container{
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--border-blue);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.chart{
    width: 100%;
    height: 220px;
}
